keybinds clear-defaults=true {
  shared_except "tmux" "locked" {
    bind "Alt a" { SwitchToMode "Tmux"; }
  }

  tmux {
    bind "n" { NewTab; SwitchToMode "Normal"; }
    bind "x" { CloseTab; SwitchToMode "Normal"; }
    bind "l" { GoToNextTab; SwitchToMode "Normal"; }
    bind "h" { GoToPreviousTab; SwitchToMode "Normal"; }

    bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }

    bind "v" { NewPane "Right"; SwitchToMode "Normal"; }
    bind "p" { FocusNextPane; SwitchToMode "Normal"; }

    bind "Alt [" { SwitchToMode "Normal"; }
    bind "Alt a" { Write 1; SwitchToMode "Normal"; }
  }

  renametab {
    bind "Enter" { SwitchToMode "Normal"; }
    bind "Alt [" { UndoRenameTab; SwitchToMode "Normal"; }
  }
}

plugins {
  tab-bar { path "tab-bar"; }
  status-bar { path "status-bar"; }
}

load_plugins {
  tab-bar
  status-bar
}

web_client {
  font "monospace"
}

show_startup_tips false

default_shell "fish"
